.odd {
    background-color: rgb(244, 83, 158);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second {
    color: blue;
    font-size: 36px;
}

#font {
    font-size: 24px;
}

#fourth {
    background-color: rgb(56, 212, 127);
    font-size: 24px;
    font-weight: bold;
}